
<style>
    .carousel-indicators
    {
        top:70px;
        text-align:right;
        padding:5px;
    }
    .glyphicon-chevron-left1
    {

    }


</style>


<div style="padding:0px;margin:0px;">
 <uib-carousel interval="myinterval" no-wrap="nowrapslides" style="padding:0px;">
        <uib-slide ng-repeat="slide in slides">
            <img class=" img-responsive" src={{slide.images}} style="width: 100%;height:390px">
            <div class=" carousel-caption">
                <h2>{{slide.text1}}</h2>
                <h4 style="margin-bottom:2%;">{{slide.text2}}</h4>
                <a class="captiontext">Know More</a>
            </div>
        </uib-slide>
    </uib-carousel>

 <div class="row" style="width:100%;padding:0px;margin:0px;margin-top:-115px;position:relative;padding-bottom:30px;background-color: rgba(247,247,247,0.5)">
        <div class="col-sm-12  col-xs-12 col-md-12 " style="padding:10px;color:white;">
            Find Your escape
        </div>
        <div class="col-sm-6  col-xs-12 col-md-3 " style="padding:0px;">
            <input type="text" id="StrFromtext" ng-model="LeavingFrom" class="form-control" style="border-radius:0px;margin-top:10px;" placeholder=" Leaving from (Optional)" uib-typeahead="Origion for Origion in Origions | filter:$viewValue | limitTo:8 " />

        </div>
        <div class="col-sm-6  col-xs-12 col-md-3 " style="padding:0px;">
            <input type="text" id="GoingFromtext" ng-model="GoingTo" class="form-control" style="border-radius:0px;margin-top:10px; position:relative" placeholder="Going To" uib-typeahead="destination for destination in destinations |filter:$viewValue| limitTo:8" />
        </div>
        <div class="col-sm-6  col-xs-12 col-md-3 " style="padding:0px;">
            <input type="text" id="Monthtext" ng-model="TravellorMonth" class="form-control" style="border-radius:0px;margin-top:10px;" placeholder="Month Of Travel(Any)" uib-typeahead="TravellerMonth for TravellerMonth in TravellerMonths | limitTo:8" />
        </div>
        <div class="col-sm-6  col-xs-12 col-md-3 " style="padding:0px;">
            <input type="submit" id="StrFromtext" value="Search" class="form-control" ng-click="search()" style="border-radius:0px;background-color:#007faD;color:white;margin-top:10px" />
        </div>
    </div>
    
</div>
<h3>Domestic Tours</h3>
<div class="row" style="width:100%;margin:0px;padding-right:0px;">
    <div class=" col-md-3 " style="position:relative;padding:0px;" ng-repeat="domastic in DashbordDoasticPackage">
        <img src={{domastic.Image}} class=".img-responsive imagehover" ng-click="search()" 
             style="width:100%;height:284px;padding:6px;margin:0px;" />
        <h2 id="textimage">
            {{domastic.City}}
        </h2>
        <h4 id="textimage1">
            {{domastic.StartingPrice}}
        </h4>
        <h4 id="textimage2">
            {{domastic.TotalPackage}} Package &nbsp;&nbsp;&nbsp;<span> {{domastic.Available}}</span>
        </h4>
        <div class="textbox">
            <p class="text" ng-click="search()">Click here to know more.</p>
        </div>
    </div>
   
</div>
<h3>International Tours</h3>
<div class="row" style="width:100%;margin:0px;padding-right:0px;">
    <div class=" col-md-3 " style="position:relative;padding:0px;" ng-repeat="domastic in DashbordInternationalPackage">
        <img src={{domastic.Image}} class=".img-responsive imagehover" ng-click="search()" 
             style="width: 100%; height: 284px; padding: 6px; margin: 0px;" />
        <h2 id="textimage">
            {{domastic.City}}
        </h2>
        <h4 id="textimage1">
            {{domastic.StartingPrice}}
        </h4>
       
        <div class="textbox">
            <p class="text" ng-click="search()">Click here to know more.</p>
        </div>
    </div>

</div>

<div class="row" style="background-color:#f3f3f3;margin-top:10px;padding:0px;margin:0px;">
    <div class="col-md-12" >
        <h4>About Us</h4> 
        <p style="font-size:.9em;">
            Ramble Over World brings you a wide range of holiday options in India and abroad.
            Select from a wide variety of standard packages or customize your holiday.
            Find amazing deals on individual (FIT) and group (GIT) travel to hot selling destinations of Asia (Thailand, Singapore, Maldives, Mauritius, Malaysia,
            Hong Kong and Macau, the Indian Subcontinent and others), the Americas (USA, Mexico, Canada), Europe (Western and Eastern Europe), and the Middle East
            (Dubai and other Emirates) among others.
        </p>
    </div>
       <div class="col-md-10">
       <h4>What People Say</h4> 
        <uib-carousel interval="myinterval" no-wrap="nowrapslides" style="padding:10px;">
            <uib-slide ng-repeat="slide in review">
                <img src="../../../Images/testimonial.png" />
                <p style="margin-bottom:2%;">
                {{slide.Text}}</p>
                <span style="float:right;margin-right:20px;">-{{slide.ReviewBy}}</span>
            </uib-slide>
        </uib-carousel>
        </div>
    
        <div class="col-md-2" style="float:right ">
            <h4>Payment Secured By</h4>
            <img src="../../../Images/payment-option.png" />
        </div>
    <div class="col-md-12" style="margin-right:0px;padding-right:0px;">
        <div style="width:100%;margin-top:2%;text-align:left; color: #333;background-color:#f3f3f3;font-size:.9em;font-family: Segoe UI, Verdana, Helvetica, Sans-Serif; padding-bottom:20px;">
            <p>&copy; Copyright © 2016, Ramble Over world. All rights Reserved.&nbsp;&nbsp; <a href="https://www.facebook.com/Ramble-Over-World-Holidays-Pvt-Ltd-1224412537584318/timeline/" class="icon icon-mono facebook" target="_blank">facebook</a>
                <a href="https://twitter.com/rambleoverworld" class="icon icon-mono twitter" target="_blank">twitter</a>
                <a href="https://www.linkedin.com/in/ramble-over-world-holidays-45bb33105?trk=nav_responsive_tab_profile_pic" class="icon icon-mono linkedIn" target="_blank">linkedIn</a>
                <a href="https://plus.google.com/111890910382604851382" class="icon icon-mono googleplus" target="_blank">googleplus</a></p>
        </div>
        </div>
        
        
      
    </div>

<section id="hiddenPanel" ng-class="{on:onOff}"  class="txt-highlight-color bg-color bg-pattern" style="cursor:pointer">
    <div class="row" style="width:100%;text-align:center">
        <span style="color:white;float:right" ng-click="onOff=!onOff"> [X]</span>
        <p style="color:white;padding:20px;padding-bottom:10px;">
        Please enter your details, Our Traval expert will connect you sortly to provide best deals. </p>
        <div class="col-md-11 " style="margin-top:1%;margin-left:10px;">
            <input type="text" id="txtName" ng-model="Name" class="form-control"  placeholder="Name" style="margin-left:8%"/>
        </div>
        <div class="col-sm-6  col-xs-12 col-md-11 " style="margin-top:1%;margin-left:10px;">
            <input type="text" id="txtEmail" ng-model="Email" class="form-control" placeholder="Email" style="margin-left:8%" />
        </div>
        <div class="col-sm-6  col-xs-12 col-md-11 " style="margin-top:1%;margin-left:10px;">
            <input type="text" id="txtPhone" ng-model="Phone" class="form-control" placeholder="Mobile" style="margin-left:8%" />
        </div>
        <div class="col-sm-6  col-xs-12 col-md-11 " style="margin-top:1%;margin-left:10px;">
            <input type="submit" id="txtSearch" value="Search" class="form-control" style="border-radius:0px;background-color:#007faD;color:white;margin-top:10px;margin-left:8%" />
        </div>
        </div>
    <span id="close-bar" ng-class="{on:onOff}   class="mybutton" ng-click="onOff=!onOff">Chat with us</span>
</section>


<style>
     #hiddenPanel {position:fixed; bottom:0px; width:0px;height:0px; background-color:grey;}
     #hiddenPanel.on {
           position:fixed; width:25.3%;margin-left:70%;height:250px;background-color:grey;text-align:center;
        }
    #close-bar { position:fixed;  bottom:0px;background:#48718F;color:white;font-weight:bold;text-align:center;padding:10px;font-size:15px;width:25.3%;margin-left:70%;}
    #close-bar.on { position:absolute;  bottom:10px;background:#48718F;color:white;font-weight:bold;text-align:center;padding:10px;font-size:15px;width:25.3%;margin-left:10%;}


.icon {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  margin: 4px;
  margin-top:0px;
  width: 26px;
  height: 26px;
  font-size: 0;
  /*text-indent: -9999px;*/
}
.icon-mono {
  background: url("../../../Images/socialcon.png") no-repeat;
  background-color: white;
  -webkit-transition: background 0.3s;
          transition: background 0.3s;
}

/* facebook */
.icon-mono.facebook {
  background-position: 9px 4px
}

.icon-mono.facebook:hover {
  background-color: #3b5998;
  background-position: 9px -26px;
}


.icon-mono.twitter {
  background-position: -56px 4px;
}

.icon-mono.twitter:hover {
  background-color: #4099ff;
  background-position: -56px -26px;
}

.icon-mono.linkedIn {
    background-position: -90px 4px;
}

    .icon-mono.linkedIn:hover {
        background-color: #4875B4;
        background-position: -90px -26px;
    }

.icon-mono.googleplus {
    background-position: -122px 4px;
}

.icon-mono.googleplus:hover {
    background-color: #C63D2D;
    background-position: -122px -26px;
}

.icon-mono.instagram {
    background-position: -150px 4px;
}

    .icon-mono.instagram:hover {
        background-color: #C63D2D;
        background-position: -150px -26px;
    }






</style>