
<style>
    table, th, td {
   border: 1px solid black;
}
</style>
<div style="background-color :#ebeced;width:100%">
   
    <!--<div style="width:100%;display:block;padding-top:10px; height:30px;padding-left:10px;">
        <div style="float:left;width:10%">
            <div style="border:1px  solid  black; text-align:center;margin-top:10px;">
                Starting From
                <h4 style="padding:0px;margin:0px;">15000</h4>
            </div>
        </div>
        <div style="float:right;width:90%" >
       
            <div style="text-align:right; width:90%;margin-right:10%">
                <h4 style=" width:200px; background-color:orange;color:white;padding:10px;float:right">Request A Quote</h4>

            </div>
            </div>
    </div>-->
    <div style="width:100%;padding-top:2%;">
        <uib-tabset active="activeForm">
            <uib-tab index="0" heading="Package Overview">
                <div my-map=""></div>
            </uib-tab>
            <uib-tab index="1" heading="Itenary">
                <div style="margin-left:3%;margin-top:2%;padding-bottom:2%">
                    <h4 style="color:black">Day 1: Arrive Kuala Lumpur</h4>
                    Morning: Arrive in Kuala Lumpur & Transfer to the hotel on SIC. Rest of the Day at Leisure.
                    Overnight at hotel.
                    <h4 style="color:black">
                        Day 2: Kuala Lumpur</h2>
                        AM: Kuala Lumpur Half Day City Tour
                        Will brings you to the confluence of two rivers (Gombak & Klang River) where the name of Kuala Lumpur originated from, then to the King's Palace, the National Monument, drive pass Lake Gardens, photostop at National Mosque, the Moorish Styled Railway Station, then proceed to the Independence Square and Sultan Abdul Samad Building, nickname as the Clock Tower of Kuala Lumpur, which used to be Malaysia High Court bases. You should notice that abundant greenery in the city, particularly at the Lake Gardens. A photo stop at the magnificent Petronas Twin Towers will also is included.

                        PM: At Leisure
                        <h4 style="color:black">
                            Day 3: Kuala Lumpur to Genting</h2>
                            Kuala Lumpur to Genting on SIC

                            Rest of the Day at Genting

                            Overnight at the hotel.
                            <h4 style="color:black">
                                Day 4: Genting to Kuala Lumpur to Langkawi</h2>
                                Morning: Transfer from Genting Highlands to Kuala Lumpur airport on SIC. Depart KL to Langakwi by flight(on Own). Arrive Langkawi and transfer to the hotel on SIC.

                                Overnight at the hotel
                                <h4 style="color:black">
                                    Day 5: Langkawi
                                </h4>
                                AM: Half day round Island Tour on SIC

                </div>

            </uib-tab>
            <uib-tab index="2" heading="Price">
                <div style="height:400px;">
                    <table style="border-collapse: collapse; margin-left:3%;margin-top:2%;padding-bottom:2%;" id="price">
                        <tr>
                            <th style=" padding: 8px;background-color: #f3f3f3;color:black">Hotel Category</th>
                            <th style=" padding: 8px;background-color: #f3f3f3;color:black">Price Per Person( ₹ )</th>
                            <th style=" padding: 8px;background-color: #f3f3f3;color:black">Hotel Options</th>

                        </tr>
                        <tr>

                            <td style=" padding: 8px;">Hotels</td>
                            <td style=" padding: 8px;">14,799</td>
                            <td style=" padding: 8px;">
                                Kuala Lumpur	: Hotel Pudu Plaza/ Similar</br>
                                Genting	: First World Hotel</br>
                                Langkawi	: Citin Langkawi/ Similar
                            </td>

                        </tr>
                        <tr>

                            <td style=" padding: 8px;">Hotels</td>
                            <td style=" padding: 8px;">14,799</td>
                            <td style=" padding: 8px;">
                                Kuala Lumpur	: Hotel Pudu Plaza/ Similar</br>
                                Genting	: First World Hotel</br>
                                Langkawi	: Citin Langkawi/ Similar
                            </td>

                        </tr>

                    </table>
                    <div style="padding-top:40px;">
                        <span style="padding-top:20%;margin-left:3%">
                            <h4 style="color:black;display:inline">Valid From:</h4>    09 Jan 2016    |    <h4 style="color:black;display:inline">Valid Until:</h4>    30 Apr 2016
                        </span>
                    </div>
                </div>
            </uib-tab>
            <uib-tab index="2" heading="Inclusions / Exclusions">
                <div style="margin-left:3%;margin-top:2%;padding-bottom:2%">
                    <h4 style="color:black">
                        Inclusion Details
                    </h4>
                    •	02 nights accommodation in Kuala Lumpur<br />
                    •	01 night accommodation in Genting Highlands<br />
                    •	02 nights accommodation in Langkawi<br />
                    •	Langkawi Half day Round Island Tour on SIC basis {1030 hours}<br />
                    •	Daily breakfast<br />
                    •	Half day City Tour of Kuala Lumpur on SIC basis {0900 hours/1400 hours}<br />
                    •	Genting Snow World ticket<br />
                    •	Genting Skyway Cable Car ticket<br />
                    •	Return airport transfers on SIC basis {KLIA /KLIA2-Kuala Lumpur Hotel-Genting Hotel-KLIA/KLIA2}<br />
                    <h4 style="color:black">
                        Exclusion Details
                    </h4>
                    •	Any airfare<br />
                    •	Misc Expenditure<br />
                    •	Mineral Water<br />
                    •	Escort<br />
                    •	Porterage at Hotel / Airport<br />
                    •	Vehicle at disposal<br />
                    •	Tips of personal Nature Beverages / Misc. Expenditure / Telephone Local.<br />
                    •	Any unforeseen eventuality such as land slides / road closure/insurance /excess Baggage /Porter age on airport/airline delays etc<br />
                    •	3.63% GST<br />
                </div>
            </uib-tab>
        </uib-tabset>
        <!--<div class="row" style="background-color:#ebeced;height:100%;margin:0px;margin-top:2%;padding-left:3%">
            <div class="col-sm-6  col-xs-12 col-md-8 " style="padding:0px; ">
                <p style="color:green;font-size:1.8em;">Nainital to Haridwar Tour</p>
                <img src="../../../Images/333.jpg" class=".img-responsive" style="min-width:100%; height:350px;" />
                <div style="background-color:white;padding-left:5%;padding-top:4%;margin-top:1%;padding-bottom:3%;">
                    <h2 style="color:#999999">Inclusion/Exclusion</h2>
                    <h4>Deal Inclusions:</h4>
                    <div style="padding-left:10%">
                        <p>Breakfast</p>
                        <p>Accommodation</p>
                        <p>Pick-up</p>
                        <p>Drop</p>
                        <p>Sightseeing</p>
                        <p>Meals</p>
                    </div>
                    <h4>Deal Inclusions:</h4>
                    <div style="padding-left:10%">
                        <p>Breakfast</p>
                        <p>Accommodation</p>

                    </div>
                    <button class="btn btn-success" style="color:white;background-color:red;padding:10px;min-width:200px;" ng-click="open()">Enquiry Now</button>

                    <h2 style="color:#999999">Day wise Travel Itinerary</h2>
                   <table>
                       <tr>
                           <td>
                               <img src="../../../Images/tag_image_22783_ tree_Delhi.jpg" /></td>
                           <td style="vertical-align:top;padding-left:2%;background-color:white">
                               Day 1 : Agra -New Delhi Departure (210Kms/04Hrs)
                               Early morning after breakfast.
                               Today sightseeing Taj Mahal, Agra Fort, Jahangir Mahal, Diwan-i-Khas, Diwan-i-Am, Macchhi Bhawan, Nagina Masjid, Meena Bazar, Moti Masjid, Sheesh Mahal, Musamman Burj, Itamad-ud-Daula, Sikandra, Upon arrival transfer to International Airport to board flight for your onwards journey to home town.
                           </td>
                       </tr>
                   </table>

                    <h4>Price Breakup:</h4>
                    <table style="width:98%;border-collapse: collapse;" id="price">
                        <tr>

                            <th style=" padding: 8px;background-color: #4CAF50;color:white">Components</th>
                            <th style=" padding: 8px;background-color: #4CAF50;color:white">Cost per person ( ₹ )</th>
                            <th style=" padding: 8px;background-color: #4CAF50;color:white">Cost of 2 persons on twin sharing basis ( ₹ )</th>

                        </tr>
                        <tr>

                            <td style=" padding: 8px;">Hotels</td>
                            <td style=" padding: 8px;">77</td>
                            <td style=" padding: 8px;">889</td>

                        </tr>
                        <tr>

                            <td style=" padding: 8px;">Hotels</td>
                            <td style=" padding: 8px;">77</td>
                            <td style=" padding: 8px;">889</td>

                        </tr>

                    </table>
                    <h5>* transport cost may vary depending upon the no. of persons</h5>
                    <p><b>Terms</b> : All rates are subject to availability, all bookings are taken at the discretion of Smile Tour & Travels.</p>
                    <div style="text-align:center">
                        <button class="btn btn-success" style="color:white;background-color:red;padding:10px;min-width:200px;" ng-click="open()">Enquiry Now</button>
                    </div>
                </div>

                </div>
            <div class="col-sm-6  col-xs-12 col-md-3 " style="margin-left:3%;">
                <div style="width:100%;padding-top :8%;">

                    <h1 style="background-color:white; padding:20px;text-align:center;"><button class="btn btn-success" style="color:white;background-color:Green;padding:10px;min-width:200px;" ng-click="open()">Get Call Back</button></h1>
                    <h1 style="background-color:white; padding:20px;text-align:center;"><button class="btn btn-success" style="color:white;background-color:red;padding:10px;min-width:200px;" ng-click="open()">Enquiry Now</button></h1>

                </div>
                <div style="background-color:white;padding-left:5%;padding-top:4%;padding-top:3%;padding-bottom:3%;">
                    <h4 style="color:black;text-align:left;">Other Popular Package</h4>
                    <div style="padding-right:2%">
                        <img src="../../../Images/tag_image_35395_Jama Masjid_Delhi.jpg"
                             style="width:100%;padding:0px;margin:0px;" />
                        <div style="width:100%;padding:0px;margin:0px;margin-top:-30px; position:relative;background-color: rgba(0,0,0,0.5)">
                            <h4 style="color:white">Rasjasthan</h4>
                        </div>

                    </div>

                    </div>
                <div style="background-color:white;padding-left:5%;padding-top:4%;margin-top:1%;padding-bottom:3%;margin-top:2%">
                    <h4 style="color:black;">Popular Trip Idea</h4>
                  <div style="padding-right:2%">
                                    <img src="../../../Images/tag_image_35395_Jama Masjid_Delhi.jpg"
                                         style="width:100%;padding:0px;margin:0px;" />
                                    <div style="width:100%;padding:0px;margin:0px;margin-top:-30px; position:relative;background-color: rgba(0,0,0,0.5)">
                                        <h4 style="color:white">Rasjasthan</h4>
                                    </div>

                        </div>
                    <div style="padding-right:2%">
                        <img src="../../../Images/tag_image_35395_Jama Masjid_Delhi.jpg"
                             style="width:100%;padding:0px;margin:0px;" />
                        <div style="width:100%;padding:0px;margin:0px;margin-top:-30px; position:relative;background-color: rgba(0,0,0,0.5)">
                            <h4 style="color:white">Rasjasthan</h4>
                        </div>


                    </div>
                </div>
                </div>
            </div>-->
    </div>
    </div>


<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header" style="background-color:#999999;color:white">
        <h4 class="modal-title">
            Please Enter your Details, Our Traval expert will connect you soon.
        </h4>
    </div>
    <div class="modal-body" style="padding-top:5px;background-color :#ebeced;height:150px;">
            <div class="col-md-11 " style="margin-top:1%;margin-left:10px;">
                <input type="text" id="txtName" ng-model="Name" class="form-control" placeholder="Name" />
            </div>
            <div class="col-sm-6  col-xs-12 col-md-11 " style="margin-top:1%;margin-left:10px;">
                <input type="text" id="txtEmail" ng-model="Email" class="form-control" placeholder="Email" />
            </div>
            <div class="col-sm-6  col-xs-12 col-md-11 " style="margin-top:1%;margin-left:10px;">
                <input type="text" id="txtPhone" ng-model="Phone" class="form-control" placeholder="Mobile" />
            </div>
            
       
    </div>
    <div class="modal-footer" style="background-color:#999999">
        <button class="btn btn-primary" type="button" ng-click="ok()">Submit</button>
        <button class="btn btn-primary" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>


